<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @datum.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @datum.date %>
</p>

<p>
  <strong>Image:</strong>
  <% if @datum.image? %>
    <div class="thumbnail">
      <%= image_tag @datum.image.url %>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
