<!DOCTYPE html>
<html>
  <head>
    <title>PwaDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" href="../../../icons/icon-192.png" sizes="192x192"/>
    <link rel="manifest" href="../../../webmanifest.json">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
